/* 富文本编辑器内的样式 */
img {
  width: 100%;
  height: 100%;
  display: block;
}

/* 经贸活动报名 */
.meetingEnroll .meeting .tip {
  padding: 0 0.42667rem;
}
.meetingEnroll .meeting .tip .van-field__body {
  display: none;
}

.resetbg {
  background: #fff;
  min-width: 100vw;
  min-height: 100vh;
}
/* 供应商表单/采购商表单
.NegotiateForm .signUp .tip {
  padding: 0 0.42667rem;  
}
.NegotiateForm .signUp .tip .van-field__body {
  display: none;
}
.NegotiateForm .productCategories .tip {
  padding: 0 0.42667rem;  
}
.NegotiateForm .productCategories .tip .van-field__body {
  display: none;
}
 */

 /* 经贸活动详情 */
 