.productDetail {
  width: 100vw;
}
.productDetail .swiperImg {
  display: block;
}
.productDetail .icon {
  margin-right: 10px;
  vertical-align: middle;
}
.productDetail .name {
  height: 2.6rem;
  width: 100%;
  border-bottom: 1px solid #f0f0f0;
  color: #999999;
  box-sizing: border-box;
  padding: 0.27rem;
}
.productDetail .name .titleWapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.productDetail .name .titleWapper .title {
  font-size: 0.45rem;
  font-weight: 600;
  color: #333333;
}
.productDetail .name .titleWapper .num {
  font-size: 0.32rem;
  display: flex;
  align-items: center;
}
.productDetail .name .local,
.productDetail .name .deliveryTime {
  font-size: 0.32rem;
  display: flex;
  align-items: center;
  margin-top: 0.2rem;
}
.productDetail .price {
  padding: 0.27rem;
  display: flex;
  justify-content: space-between;
  font-size: 0.32rem;
}
.productDetail .price .priceTitle {
  vertical-align: middle;
  font-size: 0.35rem;
  color: #FF0000;
}
.productDetail .price table {
  width: 5.77rem;
}
.productDetail .price table td,
.productDetail .price table th {
  text-align: left;
}
.productDetail .price table thead {
  background: #fff6f6;
}
.productDetail .price table tr > td:nth-child(1) {
  color: #008CEE;
}
.productDetail .price table tr > td:nth-child(2) {
  color: #FF0000;
}
.productDetail .banner {
  width: 100%;
  height: 1.25rem;
  background: linear-gradient(to right, #008cee, #52b8ff);
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.productDetail .banner .companyLogi {
  margin: 0.2rem;
}
.productDetail .banner .companyName {
  font-size: 0.43rem;
  font-weight: bold;
  color: #ffffff;
}
.productDetail .info {
  padding-bottom: 0.4rem;
  border-bottom: 3px solid #f0f0f0;
}
.productDetail .info .infoName {
  margin-bottom: 0.2rem;
  margin-top: 0rem;
  margin-left: 0.4rem;
  height: 1rem;
}
.productDetail .info .infoName span {
  font-size: 0.35rem;
  font-weight: 600;
  color: #333333;
}
.productDetail .info .desc {
  font-size: 0.32rem;
  color: #999999;
  margin: 0.1rem 0 0 0.4rem;
  display: flex;
  flex-direction: column;
}
.productDetail .info .desc .descItem {
  display: flex;
  flex-direction: row;
  margin-top: 0.17rem;
}
.productDetail .info .desc .descItem .descTitle {
  font-size: 0.35rem;
  color: #333333;
}
.productDetail .details {
  padding: 0.27rem;
  font-size: 0.32rem;
  color: #666;
  margin-bottom: 1.5rem;
}
.productDetail .details p {
  margin: 0;
  margin-bottom: 0.4rem;
}
.productDetail .details .detailTitle {
  color: #333;
  font-size: 0.35rem;
  font-weight: 600;
}
.productDetail .details .btn {
  margin-top: 0.6rem;
}
